.claim-card {
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  width: 100%; /* This allows flex-basis to control width in parent */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #fff; */
}

.claim-header {
  text-align: center;
  margin-bottom: 20px;
}

.claim-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-column,
.center-column,
.right-column {
  flex: 1;
  padding: 0 10px;
  min-width: 100px;
}
