.container {
  margin: auto;
  width: 100vw;
  height: 100vh;
}
.claim-form {
  max-width: 48rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0px;
}
.form-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 10px;
  margin-top: 0px;
}
.form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
}
.submit-button {
  width: 100%;
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
}
.back-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  padding: 10px 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
  background-color: #1565c0;
}
