.claim-list-wrapper {
  position: relative;
  padding-bottom: 80px; /* Optional: ensures space below last card */
}
.claim-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px */
  gap: 20px; /* Space between cards */
  width: 100vw;
}

.claim-entry-wrapper {
  width: 60%;
}
.back-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  padding: 10px 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.back-button:hover {
  background-color: #1565c0;
}
