.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  min-height: 100%;
  bottom: 0;
  background-color: rgb(5, 39, 94);
  /* border: 3px solid pink; */
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.dashboard-button {
  padding: 1rem 2rem;
  font-size: 1.125rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dashboard-button:hover {
  background-color: #2563eb;
}

.logout-button {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #2563eb;
}
